.page14{
    background: #0b2343;
    overflow: hidden;
}
.page15{
    background: #0b2343;
}
.page15 .page15_text{
    color: #ffffff;
    font-size: 0.16rem;
    line-height: 0.24rem;
}
.page15 .page15_text .main_content{
    overflow: hidden;
    position: absolute;
    background: url(../img/page_end/page_end_text_bg_11.png) no-repeat;
    background-size: 100%;
    width: 3.58rem;
    height: 4.74rem;
    z-index: 123;
    right: 0.4rem;
    top: 0;
    margin-top: 6.2rem;
}


.page15 .page15_text .main_content .second_text{
    width:100%;
    font-size: 0.2rem;
    line-height: 0.3rem;
    padding-left: 0.24rem;
    padding-top: 0.1rem;
}

.page15 .page15_text .main_content .second_title{
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.28rem;
    font-weight:bold;
}

.page15 .page15_text .main_content .content_text{
    width: 100%;
    font-weight:bold;
    color: #ffffff;
}
.page15 .page15_text .main_content .content_text h3{
    font-size: 0.18rem;
    padding-left: 0.22rem;
    line-height: 0.18rem;
    margin-top: 0.08rem;
}
.page15 .page15_text .main_content .content_text p{
    font-size: 0.28rem;
    padding-left: 0.22rem;
    line-height: 0.4rem;
    margin-top: 0.08rem;
}
.page15 .page15_text .main_content .content_text span{
    font-size: 0.4rem;

}



.page15 .page15_text .main_content .main_title{
    width:100%;
    color: #ffffff;
    font-size: 0.28rem;
    font-weight:bolder;
    margin-top: 0.12rem;
    text-align: center;
    height: 0.78rem;
    line-height: 0.38rem;
    vertical-align: middle;
}







.page15 .page15_text .need_rolate .person_nick_name{
    width: 3.66rem;
    height: 1.44rem;
    background: url(../img/page_end/person_type_07.png) no-repeat;
    background-size: 100%;
    font-weight:bolder;
    text-align: center;
    font-size:0.8rem;
    line-height: 1.32rem;
}
.page15 .page15_text .need_rolate p{
    width: 3.36rem;
    color: #fff;
    font-size:0.22rem;
    line-height: 0.4rem;
    font-weight:bold;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.02rem;
}
.page15.page15_4_canvas .title{
    opacity: 1;
}
.page15 .title{
    width: 6.53rem;
    height:1.57rem;
    background: url(../img/page_end/page_end_title_03.png) no-repeat;
    margin:0 auto;
    background-size:100%;
    margin-top: 0.44rem;
    animation: shadeIn .3s .05s linear forwards 1;
    -webkit-animation: shadeIn .3s .05s linear forwards 1;
    opacity: 0;
}

.page15.page15_4_canvas .aircraft{
    opacity: 1;
}


@keyframes shadeIn {
    0%{
        opacity: 0;
        transform: scale(2.35);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}


.page15.page15_4_canvas .aircraft{
    transform: translateX(0rem);
}
.page15 .aircraft{
    position: absolute;
    width: 7.5rem;
    height: 5.6rem;
    background: url(../img/page_end/page_end_aircraft_02.png) no-repeat;
    background-size: 7.5rem 5.6rem;
    background-position: center;
    left:0;
    top: 4.92rem;
    animation: aircraftLeftIn .9s .3s linear forwards 1;
    -webkit-animation: aircraftLeftIn .9s .3s linear forwards 1;
    transform: translateX(-7.5rem);

}
.page15.page15_4_canvas .person.lady{
    transform: translateX(0rem);
    opacity: 1;
}
.page15 .person.lady{
    position: absolute;
    width: 6.78rem;
    height: 9.59rem;
    background: url(../img/page_end/page_end_lady_02.png) no-repeat;
    background-size: 100%;
    top: 2.84rem;
    opacity: 0;
    animation: ladyIn .5s 1.3s linear forwards 1;
    -webkit-animation: ladyIn .5s 1.3s linear forwards 1;
    transform: translateX(-6.78rem);
}
.page15.page15_4_canvas .page15_text .need_rolate{
    /*transform: translateX(0rem);*/
    opacity: 1;
}
.page15 .page15_text .need_rolate{
    position: absolute;
    right:0.1rem;
    top: 2.36rem;
    transform-origin: center center;
    transform: rotate(-12deg);
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-12deg);
    animation: shadeRotateIn .2s 1.6s linear forwards 1;
    -webkit-animation: shadeRotateIn .2s 1.6s linear forwards 1;
    opacity:0;
}

.page15.page15_4_canvas .page15_text .main_content{
    opacity: 1;
}
.page15 .page15_text .main_content{
    overflow: hidden;
    position: absolute;
    background: url(../img/page_end/page_end_text_bg_11.png) no-repeat;
    background-size: 100%;
    width: 3.58rem;
    height: 4.74rem;
    z-index: 123;
    right: 0.4rem;
    top: 0;
    margin-top: 6.2rem;
    animation: contentRightIn .2s 1.8s linear forwards 1;
    -webkit-animation: contentRightIn .2s 1.8s linear forwards 1;
    opacity:0;
}
@keyframes contentRightIn {
    0%{
        opacity:0;
        transform: translateX(4rem);
    }
    100%{
        opacity:1;
        transform: translateX(0rem);
    }
}

@keyframes ladyIn {
    0%{
        opacity:0;
        transform: translateX(-6.78rem);
    }
    100%{
        opacity:1;
        transform: translateX(0rem);
    }
}



@keyframes shadeRotateIn {
    0%{
        opacity: 0;
        transform: scale(2.35) rotate(-12deg);
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(-12deg);
    }
}
@keyframes ladyIn {
    0%{
        opacity:0;
        transform: translateX(-6.78rem);
    }
    100%{
        opacity:1;
        transform: translateX(0rem);
    }
}
@keyframes aircraftLeftIn {
    0%{
        transform: translateX(-7.5rem);
    }
    100%{
        transform: translateX(0rem);
    }
}






.page15 .btn_left{
    position: absolute;
    width: 3.34rem;
    height: 0.79rem;
    color: #000;
    line-height: 0.79rem;
    font-weight:bolder;
    bottom: 0.5rem;
    font-size: 0.3rem;
    text-align: center;
    left: 0.32rem;
    background: url(../img/page_end/page_end_btn_03.png) no-repeat;
    background-size: 100%;
    color: #ffffff;
    opacity:0;
    animation: earth-of-14 .2s 2.2s linear forwards 1;
    -webkit-animation: earth-of-14 .2s 2.2s linear forwards 1;
}
.page15 .btn_right{
    position: absolute;
    width: 3.34rem;
    height: 0.79rem;
    color: #000;
    line-height: 0.79rem;
    font-weight:bolder;
    bottom: 0.5rem;
    font-size: 0.3rem;
    text-align: center;
    right: 0.32rem;
    opacity:0;
    background: url(../img/page_end/page_end_btn_03.png) no-repeat;
    background-size: 100%;
    color: #ffffff;
    opacity:0;
    animation: earth-of-14 .2s 2.4s linear forwards 1;
    -webkit-animation: earth-of-14 .2s 2.4s linear forwards 1;
}
.page15 .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/page_end/page_end_bg.jpg) no-repeat;
    background-size: 7.5rem 14rem;
}



.page14 .page14_text{
    font-size: 0.32rem;
    line-height: 0.48rem;
    color: #fff;
    text-align: center;
    font-weight:bolder;
    position: absolute;
    bottom: 1.56rem;
    z-index:108;
    width: 7.5rem;
    left:50%;
    margin-left: -3.75rem;
    opacity: 0;
    animation: earth-of-14 .4s 1.5s linear forwards 1;
    -webkit-animation: earth-of-14 .4s 1.5s linear forwards 1;
}
.page14 .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: url(../img/page14/page_14_bg.jpg) no-repeat;*/
    /*background-size: 7.5rem 14rem;*/
}
.page14 .bgsky{
    background: url(../img/page14/bgsky.jpg) no-repeat;
    background-size: 30.84rem 30.94rem;
    width: 30.84rem;
    height: 30.94rem;
    /*background-position: center -5.8rem;*/
    transform: translateX(-11.67rem) translateY(-6.1rem);
    -webkit-transform: translateX(-11.67rem) translateY(-6.1rem);
    animation:  newEarth 10s 0s linear forwards 1;
    -webkit-animation: newEarth 10s 0s linear forwards 1;
}
.page14 .aircraft{
    width: 3.75rem;
    height: 1.18rem;
    background: url(../img/page14/page_14_aircraft.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 1.88rem;
    top: 3.04rem;
    z-index: 99;
    transform: translateX(-7.5rem);
    -webkit-transform: translateX(-7.5rem);
    animation: newAircraft 10s 0s linear forwards 1;
    -webkit-animation: newAircraft 10s 0s linear   forwards 1;
    transform-origin: center;
}
@keyframes newEarth {
    0%{
        transform: translateX(-7.5rem) translateY(-6.1rem);
    }
    100%{
        transform: translateX(-15rem) translateY(-6.1rem);
    }
}

/*飞机左进入*/
@keyframes newAircraft{
    0%{
        transform: translateX(-4.75rem) scale(0.5) translateY(5.2rem);
    }
    10%{
        transform: translateX(0rem) scale(1) translateY(0);
    }
    36.7%{
        transform: translateY(0.9rem);
    }
    63.3%{
        transform: translateY(-0rem);
    }
    90%{
        transform: translateY(-0.9rem);
    }
    100%{
        transform: translateX(7.5rem) scale(1.6) translateY(-3.4rem);
    }
}
.page14 .earth{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/page14/page_14_earth.png) no-repeat;
    background-size: 7.5rem 8.44rem;
    background-position: 0 6.55rem;
    z-index: 98;
    animation: earth-of-14 .4s .9s linear forwards 1;
    -webkit-animation: earth-of-14 .4s .9s linear forwards 1;
    opacity: 0;
}
.page14 .building{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/page14/page_14_building.png) no-repeat;
    background-size: 7.5rem 11.75rem;
    background-position:  0 3.24rem;
    z-index: 97;
    animation: earth-of-14 .4s 1.3s linear forwards 1;
    -webkit-animation: earth-of-14 .4s 1.3s linear forwards 1;
    opacity: 0;
}
/*飞机左进入*/
@keyframes aircraft{
    0%{
        transform: translateX(-7.5rem);
    }
    100%{
        transform: translateX(0rem);
    }
}
@-webkit-keyframes aircraft{
    0%{
        -webkit-transform: translateX(-7.5rem);
    }
    100%{
        -webkit-transform: translateX(0rem);
    }
}
/*地球淡入 建筑物淡入*/
@keyframes earth-of-14{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes earth-of-14{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.page_for_canvas{
    width:750px;
    height:1450px;
    background: #ffffff;
    position: absolute;
    z-index: 999;
}
.page_for_canvas .canvas_logo{
    width:350px;
    height:126px;
    position: absolute;
    right: 0.16rem;
    bottom: 0.5rem;
}

.page_for_canvas .remmber_txt{
    width:64px;
    height:215px;
    background: url(../img/page_end/canvas_qrcode_03.png) no-repeat;
    background-size: 100%;
    bottom:39px;
    left:244px;
    position: absolute;
}

.page_for_canvas .canvas_logo img{
    width: 100%;
}
.page_for_canvas .canvas_img{
    width: 740px;
    overflow: hidden;
    max-height:1130px;
    margin:0 auto;
    margin-top: 0.35rem;
}
.page_for_canvas .canvas_img img{
    width:100%;
}



