
html, body {
	width: 100%;
	height: 100%;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top:0;left:0;
}
.arrow {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 0.38rem;
	height: 0.3rem;
	background: url(../img/arrow.png) no-repeat;
	background-size: 100%;
	animation: arrow_up 1s infinite;
}

.arrow_demo{
	position: absolute;
	bottom: 1rem;
	left: 50%;
	/*transform: translateX(-50%);*/
	width: 0.38rem;
	height: 0.3rem;
	background: url(../img/arrow.png) no-repeat;
	background-size: 100%;
}

@keyframes arrow_up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0.3rem);
	}
}

.hide {
	display: none;
}

/*@keyframes page9_out {
	0% {
		transform: translateY(0);
	}
	90% {
		opacity: 1;
	}
	100% {
 		transform: scale(2);
 		opacity: 0;
	}
}*/

.page9 {
  transition: transform 2s;

}
.page9.out {
 	transform: scale(2);
	/*animation: page9_out 2s;*/
}

.page9 .bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.page9 .bg1 {
	background: url(../img/page9/page9-bg.jpg) no-repeat;
	background-size: 100%;
	opacity: 1;
	transition: opacity 0.6s;
	transition-delay: 0.6s;
}
.page9 .bg2 {
	background: url(../img/page9/page9-bg2.jpg) no-repeat;
	background-size: 120%;
    background-position: 14% 2rem;
	opacity: 0;
	transition: opacity 0.8s;
	transition-delay: 1.2s;
}
.page9 .door {
	position: absolute;
	bottom: 0;
	width: 7.5rem;
	height: 9.96rem;
	background: url(../img/page9/page9-door.png) no-repeat;
	background-size: 100%;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.6s;
	transition-delay: 0.6s;
}
.page9 .light {
	position: absolute;
	top: 0;
	width: 100%;
	height: 9.58rem;
	background: url(../img/page9/page9-light.png) no-repeat;
	background-position: -3rem -0.9rem;
    background-size: 150%;
	z-index: 20;
	opacity: 0;
	transition: opacity 0.8s;
	transition-delay: 2s;
}
.page9 .stewardess{
	width: 3.29rem;
	height: 5.93rem;
	background:url(../img/page9/page9-stewardess.png) no-repeat;
	background-size: 80%;
	position: absolute;
	left: 1.4rem;
	top: 5.97rem;
	opacity: 0;
	transition: opacity 0.6s;
	z-index: 12;
	transition-delay: 1.4s;
}
.page9 .plane {
	position: absolute;
	top: 4.2rem;
    left: 1.26rem;
    width: 5.46rem;
    height: 2.28rem;
    z-index: 1;
    opacity: 0;
    transform: scale(0.5);
    transform: translateX(0rem) scale(0.6);
    transition: opacity,transform 0.8s;
    transition-delay: 1.2s;
}
.page9.animate .bg1 {
	opacity: 1;
}
.page9.animate .bg2 {
	opacity: 1;
}
.page9.animate .door {
	opacity: 1;
}
.page9.animate .light {
	opacity: 1;
}
.page9.animate .panel {
	transform: translateY(0);
}
.page9.animate .plane {
	opacity: 1;
	transform: translateX(1rem) scale(0.6);
}

.page9.animate .stewardess {
	opacity: 1;
}
.page9 .dialogbox{
	width: 7.5rem;
	height: 2.54rem;
	background:url(../img/page9/page9-box.png) no-repeat;
	background-size: 70%;
	position: absolute;
	left:17%;
	top:9.16rem;
	font-size: 0.24rem;
	color: #000;
	opacity: 0;
	overflow: hidden;
	transform: translateY(-0.3rem);
	transition: opacity,transform 0.4s;
	transition-delay: 4s;
	z-index: 12;
}
.page9.animate .dialogbox {
	opacity: 1;
	transform: translateY(0);
}

.page9 .dialogbox p {
	opacity: 0;
	margin-left: 0.65rem;
    margin-top: 0.8rem;
	transition: opacity 0.4s;
	transition-delay: 4.4ss;
}
.page9.animate .dialogbox p {
	opacity: 1;
}
.page9 .panel {
	position: absolute;
	top: 0;
	width: 100%;
	height: 4.1rem;
	background:url(../img/page9/page9-panel.png) no-repeat;
	background-size: 100%;
	transform: translateY(-4.1rem);
	transition: transform 0.6s;
}
.page9 .text {
	width: 7.5rem;
	height: 0;
	position: absolute;
	top:0;
	left:0;
	padding-top:0.57rem;
	transition: height 2s;
	transition-delay: 2.8s;
	overflow: hidden;
}
.page9 .text p {
	margin:0;
	color: #fff;
	text-align: center;
	font-size: 0.22rem;
	line-height: 0.44rem;
	height: 0.44rem;
}
.page9 .text strong {
	font-size: 0.32rem;
	font-weight: normal;
}
.page9.animate .text {
	height: 4.07rem;
}

.page10 {
	background: url(../img/page9/page10-bg.jpg) no-repeat;
	background-size: 100%;
	transition: opacity 1s;
	opacity: 0;
}
.page10.animate {
	opacity: 1;
}

/*飞行*/
.page10 .plane,
.page11 .plane {
	position: absolute;
	top: 4.2rem;
    left: 1.06rem;
    width: 5.46rem;
    height: 2.28rem;
    z-index: 1;
}
.page9 .plane img,
.page10 .plane img,
.page11 .plane img {
	width: 100%;
}
.page11 .bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/page9/page11-bg.jpg) no-repeat;
	background-size: 100%;
	transition: opacity 1s;
	opacity: 0;
}
.page11 .cloud {
	position: absolute;
	width: 100%;
	height: 10.38rem;
	top: 0.5rem;
	background: url(../img/page9/page11-cloud.png) no-repeat;
	background-size: 100%;
	opacity: 0;
	transition: opacity,transform 3s;
	transition-delay: 1s;
	transform: translateX(0.2rem);
}
.page11 .font {
	width: 100%;
	line-height: 0.44rem;
	font-size: 0.24rem;
	text-align: center;
	color: #000;
	font-weight: bold;
}
.page11 .font .text p {
	position: absolute;
	width: 100%;
}

.page11 .font .top {
	top: 0.8rem;
}

.page11 .font .bottom {
	bottom: 3.5rem;
}
.page11 .font .text1 {

}
.page11 .font .bottom {
	font-size: 0.34rem;
}

.page11 .font strong {
	font-size: 0.32rem;
}

.page11.animate .bg {
	opacity: 1;
}
.page11.animate .cloud {
	opacity: 1;
	transform: translateX(0);
}

/*page12*/
.page12 .plane {
	position: absolute;
	top: 3.94rem;
	left: 1.18rem;
	width: 5.46rem;
	height: 2.28rem;
	z-index: 1;
}
.page12 .plane img {
	width: 100%;
}
.page12 .bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/page9/page11-bg.jpg) no-repeat;
	background-size: 100%;
	transition: opacity 1s;
	opacity: 0;
}
.page12 .cloud {
	position: absolute;
  width: 11.2rem;
  height: 10.22rem;
	top: 0.5rem;
	background: url(../img/page9/page11-cloud.png) no-repeat;
	background-size: 100%;
	transition: transform 3s;
	transition-delay: 0.5s;
	transform: translateX(0);
}
.page12 .font {
	width: 100%;
	line-height: 0.44rem;
	font-size: 0.24rem;
	text-align: center;
	color: #000;
	font-weight: bold;
}
.page12 .font > p {
	position: absolute;
	width: 2.3rem;
	font-size: 0.24rem;
	opacity: 0;
	transition: opacity 0.6s;
}
.page12 .font .p1 {
	top: 1.6rem;
	left: 0.74rem;
	transition-delay: 2s;
}
.page12 .font .p2 {
	top: 2.92rem;
  right: 0.84rem;
  transition-delay: 3s;
}
.page12 .font .p3 {
	top: 7.28rem;
	right: 0.94rem;
	transition-delay: 4s;
}
.page12 .font .p4 {
  top: 8.5rem;
  left: 0.44rem;
  transition-delay: 5s;
}

.page12 .font strong {
	font-size: 0.36rem;
	color: #ebb74f;
}

.page12.animate .bg {
	opacity: 1;
}
.page12.animate .cloud {
	opacity: 1;
	transform: translateX(-1.85rem);
}
.page12.animate .font .p1,
.page12.animate .font .p2,
.page12.animate .font .p3,
.page12.animate .font .p4 {
	opacity: 1;
}