
html, body {
	width: 100%;
	height: 100%;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top:0;left:0;
}
.arrow {
	position: absolute;
	top: 10.8rem;
	width:100%;
	height: 1.36rem;
	background: url(../img/arrow.png) no-repeat;
	background-size: auto 1.36rem;
	background-position:center;
	z-index: 30;
	animation: arrow_up 1s infinite;
	opacity: 0;
	transition: opacity 1s;
}
/*.animate .arrow{
	opacity: 1;
}*/
.arrow_txt{
	position:absolute;
	width:100%;
	top:13rem;
	font-size:0.3rem;
	text-align:center;
	color:#fff;
}
.page5 .arrow_txt{
	top:10.4rem;
}
.arrow_demo{
	position: absolute;
	bottom: 1rem;
	left: 50%;
	/*transform: translateX(-50%);*/
	width: 0.38rem;
	height: 0.3rem;
	background: url(../img/arrow.png) no-repeat;
	background-size: 100%;
}

@keyframes arrow_up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0.3rem);
	}
}
@-webkit-keyframes arrow_up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0.3rem);
	}
}
.hide {
	display: none;
}

/*@keyframes page9_out {
	0% {
		transform: translateY(0);
	}
	90% {
		opacity: 1;
	}
	100% {
 		transform: scale(2);
 		opacity: 0;
	}
}*/

.page9 {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: opacity,transform 3s;
  -webkit-transition: opacity,transform 3s;
  opacity: 1;
  z-index: 25;
}

.page9 .bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.page9 .bg1 {
	background: url(../img/page5/bg.jpg) no-repeat;
	background-size: 100%;
	opacity: 1;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.page9 .bg2 {
	background: url(../img/page9/page9-bg2.jpg) no-repeat;
	background-size: 134%;
    background-position: 40% 2.9rem;
	opacity: 0;
	-webkit-transition: opacity 1.5s;
	transition: opacity 1.5s;
	-webkit-transition-delay: 1.5s;
	transition-delay: 1.5s;
}
.page9 .door {
	position: absolute;
	top: 3.4rem;
	width: 7.5rem;
	height: 12.96rem;
	background: url(../img/page9/page9-door.png) no-repeat;
	background-size: 100%;
	z-index: 10;
	opacity: 0;
	-webkit-transition: opacity 1.5s;
	transition: opacity 1.5s;
	-webkit-transition-delay: 1.5s;
	transition-delay: 1.5s;
}
.page9 .light {
	position: absolute;
	top: 0;
	width: 100%;
	height: 14.23rem;
	background: url(../img/page9/page9-light.png) no-repeat;
	background-position: 0 -0.7rem;
  	background-size: 100%;
	z-index: 11;
	opacity: 0;
	-webkit-transition: opacity 1.2s;
	transition: opacity 1.2s;
	-webkit-transition-delay: 3s;
	transition-delay: 3s;
}
.page9 .stewardess{
	width: 3.29rem;
	height: 5.93rem;
	background:url(../img/page9/page9-stewardess.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0.8rem;
    top: 6.8rem;
	opacity: 0;
	-webkit-transition: opacity 1.5s;
	transition: opacity 1.5s;
	z-index: 14;
	-webkit-transition-delay: 4s;
	transition-delay: 4s;
}
.page9 .plane {
	position: absolute;
	top: 4.84rem;
    left: 1.26rem;
    width: 5.46rem;
    height: 2.28rem;
    z-index: 1;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform: translateX(0rem) scale(0.6);
    transform: translateX(0rem) scale(0.6);
    -webkit-transition: opacity,transform 1.5s;
    transition: opacity,transform 1.5s;
    -webkit-transition-delay: 2.5s;
    transition-delay: 2.5s;
}
.page .arrow {
	/* transition-delay: 6s; */
}
.page9.animate .bg1 {
	opacity: 1;
}
.page9.animate .bg2 {
	opacity: 1;
}
.page9.animate .door {
	opacity: 1;
}
.page9.animate .light {
	opacity: 1;
}
.page9.animate .panel {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.page9.animate .plane {
	opacity: 1;
	-webkit-transform: translateX(1.4rem) scale(0.6);
	transform: translateX(1.4rem) scale(0.6);
}

.page9.animate .stewardess {
	opacity: 1;
}
.page9 .dialogbox{
	width: 7.5rem;
	height: 2.54rem;
	background:url(../img/page9/page9-box.png) no-repeat;
	background-size: 80%;
	background-position: 60% 0;
	position: absolute;
	left: 0;
  	top: 9.4rem;
	font-size: 0.24rem;
	color: #000;
	opacity: 0;
	overflow: hidden;
	-webkit-transform: translateY(-0.3rem);
	transform: translateY(-0.3rem);
	-webkit-transition: all 1s;
	transition: all 1s;
	-webkit-transition-delay: 6.5s;
	transition-delay: 6.5s;
	z-index: 24;
}
.page9.animate .dialogbox {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.page9 .dialogbox p {
	opacity: 0;
	margin-left: 1.65rem;
    margin-top: 0.9rem;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-delay: 4.4ss;
	transition-delay: 4.4ss;
}
.page9.animate .dialogbox p {
	opacity: 1;
}
.page9 .panel {
	position: absolute;
	top: 0;
	width: 100%;
	height: 4.1rem;
	background:url(../img/page9/page9-panel.png) no-repeat;
	background-size: 100%;
	-webkit-transform: translateY(-4.1rem);
	transform: translateY(-4.1rem);
	-webkit-transition: transform 1.8s;
	transition: transform 1.8s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
	z-index: 10;
}
.page9 .text {
	width: 7.5rem;
	height: 0;
	position: absolute;
	top:0;
	left:0;
	padding-top:0.57rem;
	-webkit-transition: height 2s;
	transition: height 2s;
	-webkit-transition-delay: 4.5s;
	transition-delay: 4.5s;
	overflow: hidden;
}
.page9 .text p {
	margin:0;
	color: #fff;
	text-align: center;
	font-size: 0.22rem;
	line-height: 0.44rem;
	height: 0.44rem;
	font-weight: normal;
}
.page9 .text strong {
	font-size: 0.32rem;
	font-weight: bold;
}
.page9.animate .text {
	height: 4.07rem;
}
.page9.leave {
	-webkit-animation: page9_leave 2s ;
	animation: page9_leave 2s ;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes page9_leave {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(2.5);
		opacity: 0;
	}
}
@keyframes page9_leave {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}
.page9 .arrow {
	transition-delay: 8s;
}
.page9.animate .arrow {
	opacity: 1;
}


/*page10*/
.page10 {
	background: url(../img/page9/page10-bg.jpg) no-repeat;
	background-size: 100%;
    background-position: 0 -1.2rem;
	opacity: 1;
	/*transition: opacity 1.5s;*/
	/*-webkit-transition: opacity 1.5s;*/
	z-index: 20;
}
.page10.animate {
	opacity: 1;
}
.page10.leave {
	opacity: 0.5;
}

.page10 .shd {
	position: absolute;
	top: 5.4rem;
    left: 1.56rem;
    width: 4.46rem;
    height: 2.28rem;
}
.page10 .arrow_txt {
	top: 10.4rem;
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	transition-delay: 2s;
}
.page10.animate .arrow_txt {
	opacity: 1;
}
.page10 .arrow {
	transition-delay: 2s;
}
.page10.animate .arrow {
	opacity: 1;
}

/*飞机*/
.page10_12_plane .plane {
	position: absolute;
	top: 4.2rem;
    left: 1.56rem;
    width: 4.46rem;
    height: 2.28rem;
    z-index: 5;
}
.page10_12_plane .plane img {
	width: 100%;
}
.page11 {
	/*-webkit-transition: opacity 1.5s;*/
	/*transition: opacity 1.5s;*/
	opacity: 0;
	z-index: 15;
}
.page11.animate {
	opacity: 1;
} 

/*.page11 .bg,.page12 .bg  {
	position: absolute;
	top: 0;
	display: block;
	height: 100%;
	z-index:1;
	-webkit-animation:page11sky 8s linear infinite;
	animation:page11sky 8s linear infinite;
}*/

.page11_12 {
	overflow:hidden;
	transform:translate3d(0,0,0);
}
.page11_12 img {
	position: absolute;
	top: 0;
	display: block;
	z-index:1;
	width:18.92rem;
	/* -webkit-animation: page11sky 2s linear infinite; */
}
.page11_12 img.animation{
	animation: page11sky 8s linear infinite;
}
@keyframes page11sky{
	to{
		transform:translateX(-60%);
	}
}
.page11 .cloud {
	position: absolute;
	width: 100%;
	height: 10.38rem;
	top: 0.5rem;
	background: url(../img/loading/cloud_2.png) no-repeat;
	background-size: 100%;
	z-index: 3;
	-webkit-transition: opacity,transform 3s;
	-webkit-transition-delay: 1s;
	-webkit-transform: translateX(0.2rem);
	transition: opacity,transform 3s;
	transition-delay: 1s;
	transform: translateX(0.2rem);
}
.page11.animate .cloud {
	position: absolute;
	width: 21.9rem;
    height: 6.1rem;
    top: 2.62rem;
    animation: loadingcloud 11s linear infinite;
}
.page11 .font {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	line-height: 0.6rem;
	font-size: 0.4rem;
	text-align: center;
	color: #fff;
	font-weight: bold;
	z-index: 8;
}
.page11 .font .text p {
	position: absolute;
	width: 100%;
}

.page11 .font .top {
	top: 1rem;
	opacity: 0;
	-webkit-transition: opacity 0.8s;
	-webkit-transition-delay: 2.5s;
	transition: opacity 0.8s;
	transition-delay: 2.5s;
}
.page11.animate .font .top,
.page11.animate .font .bottom {
	opacity: 1;
}

.page11 .font .bottom {
	top: 7.5rem;
	/*line-height: 0.8rem;*/	
	opacity: 0;
	-webkit-transition: opacity 0.8s;
	-webkit-transition-delay: 3.2s;
	transition: opacity 0.8s;
	transition-delay: 3.2s;
}

.page11 .font strong {
	color: #d7006a;
}
/*.page11 .font .bottom strong {
	color: #d7006a;

}*/

.page11.leave {
	opacity: 0;
}
.page11 .arrow {
	transition-delay: 5s;
}
.page11.animate .arrow {
	opacity: 1;
}

/*page12*/
.page12 {
	z-index: 5;
}
.page12.animate {
	opacity: 1;
}
/*.page12 .plane {
	position: absolute;
	top: 3.94rem;
	left: 1.18rem;
	width: 4.65rem;
	height: 2.07rem;
	z-index: 2;
}
.page12 .plane img {
	width: 100%;
}*/
/* .page12 .bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/page9/page11-bg.jpg) no-repeat;
	background-size: 100%;
	transition: opacity 1s;
	opacity: 0;
} */
.page12 .cloud {
  	width: 7.5rem;
	  height: 100%;
	  position:relative;
	  z-index:2;
}
.page12 .cloud > div {
	position: absolute;
	left: 0;
	width: 100%;
	-webkit-transform: translateX(7.5rem);
	-webkit-transition: transform 1.5s;
	transform: translateX(7.5rem);
	transition: transform 1.5s;
}
.page12 .cloud .c1 {
	height: 2.42rem;
	top: 0.5rem;
	background: url(../img/page9/cloud-1.png) no-repeat;
	background-size: 100%;
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
}
.page12 .cloud .c2 {
	height: 2.33rem;
	top: 2.72rem;
	background: url(../img/page9/cloud-2.png) no-repeat;
	background-size: 100%;
	-webkit-transition-delay: 2.5s;
	transition-delay: 2.5s;

}
.page12 .cloud .c3 {
	height: 2.7rem;
	top: 5.9rem;
	background: url(../img/page9/cloud-3.png) no-repeat;
	background-size: 100%;
	-webkit-transition-delay: 4s;
	transition-delay: 4s;

}
.page12 .cloud .c4 {
	height: 2.4rem;
	top: 8.4rem;
	background: url(../img/page9/cloud-4.png) no-repeat;
	background-size: 100%;
	-webkit-transition-delay: 5.5s;
	transition-delay: 5.5s;

}
.page12.animate .cloud .c1, 
.page12.animate .cloud .c2, 
.page12.animate .cloud .c3, 
.page12.animate .cloud .c4 {
	-webkit-transform: translateX(0);
	transform: translateX(0);
} 


.page12 .font {
	width: 100%;
	line-height: 0.44rem;
	font-size: 0.24rem;
	text-align: center;
	color: #000;
	font-weight: bold;
	position: absolute;
    z-index: 2;
    top: 0;
}
.page12 .font > p {
	position: absolute;
	/*width: 2.3rem;*/
	font-size: 0.3rem;
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.page12 .font .p1 {
	top: 1.4rem;
    left: 1.24rem;
	-webkit-transition-delay: 2.5s;
	transition-delay: 2.5s;
}
.page12 .font .p2 {
	top: 3.38rem;
    right: 1.44rem;
  	-webkit-transition-delay: 3.6s;
  	transition-delay: 3.6s;
}
.page12 .font .p3 {
	top: 6.88rem;
    left: 1.74rem;
	-webkit-transition-delay: 5s;
	transition-delay: 5s;
}
.page12 .font.no-font .p3 {
	top: 6.88rem;
    left: 2.74rem;
	-webkit-transition-delay: 5s;
	transition-delay: 5s;
}
.page12 .font .p4 {
	top: 9.12rem;
    right: 1.44rem;
  	-webkit-transition-delay: 7s;
  	transition-delay: 7s;
}

.page12 .font strong {
	font-size: 0.42rem;
	color: #d7006a;
}
.page12 .font span {
	font-size: 0.42rem;
}
.page12.animate .bg {
	opacity: 1;
}
.page12.animate .cloud {
	opacity: 1;
}
.page12.animate .font .p1,
.page12.animate .font .p2,
.page12.animate .font .p3,
.page12.animate .font .p4 {
	opacity: 1;
}

@-webkit-keyframes page12_plane {
	0% {
		-webkit-transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(6.5rem);
		opacity: 1;
	}
}
@-webkit-keyframes page12_font {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes page12_plane {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(7rem);
		opacity: 1;
	}
}
@keyframes page12_font {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.page12.leave .plane{
	-webkit-animation: page12_plane 2s 1s;
	-webkit-animation-fill-mode: forwards;
	animation: page12_plane 2s 1s;
	animation-fill-mode: forwards;

} 
.page12.leave .cloud,
.page12.leave .font {
	-webkit-animation: page12_font 2s;
	-webkit-animation-fill-mode: forwards;
	animation: page12_font 2s;
	animation-fill-mode: forwards;
}
.page12.leave {
	/*-webkit-animation: page12_font 0.6s 1.5s;*/
	/*!*-webkit-animation-fill-mode: forwards;*!*/
	/*animation: page12_font 0.6s 1.5s;*/
	/*!*animation-fill-mode: forwards;*!*/
}
.page12 .arrow {
	transition-delay: 8s;
}
.page12.animate .arrow {
	opacity: 1;
}